[*.lua]

# optional space/tab
indent_style = tab

# if indent_style is space, this is valid
indent_size = 4

# if indent_style is tab, this is valid
tab_width = 4

# none/single/double
quote_style = single
